body{

  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/82/5c/08/825c08396562073f1c55f6e71a1a00e1.png");
  background-size: 200px 200px;
  background-color: #4ff7cd;
  background-position: right;
  background-repeat: no-repeat; 

}